.tag-wrapper {
  display: flex;

  .tags {
    display: flex;
    .tag-item {
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      padding: 0 10px;
      margin-right: 10px;
      display: flex;
      align-items: center;

      div{
          display: flex;
        svg{
            width: 16px;
            height: 16px;
        }
      }
    }
  }

  .add {
    input {
      outline: none;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      padding-left: 5px;
      &:focus{
          border-color: gray;
      }
    }
  }
}
