.tag-wrapper {
  display: flex;
  flex-wrap: wrap;

  .tags {
    display: flex;
    flex-wrap: wrap;
   
    .tag-item {
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      padding: 0 10px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      
      @media screen and(max-width: 500px) {
        margin-bottom: 5px;
      }

      div{
          display: flex;
        svg{
            width: 16px;
            height: 16px;
        }
      }
    }
  }

  .add {
    max-width: 100px;
    input {
      width: 100%;
      outline: none;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      padding-left: 5px;
      &:focus{
          border-color: gray;
      }
    }
  }
}
